{{>header}}
<div class="container-fluid">
      
      <!-- main-->
  <div>
    <div class="col-md-4">
        <h1>Add a Product</h1>
        <hr>
        <form action="/admin/products" method="post">
          <div class="form-group">
            <label for="product_name">Product Name</label>
            <input type="text" placeholder="Product Name" class = "form-control" name="product_name">
          </div>
          <div class="form-group">
            <label for="brand" >Product Brand</label>
            <input type="text" placeholder="Brand"  class ="form-control" name="brand">
          </div>
          <div class="form-group">
            <label for="category" >Category</label>
            <select id="category" name="category" class="form-control">
              <option name="Mobile" value="Mobile">Mobile</option>
              <option name="Tablet" value="Tablet">Tablet</option>
              <option name="Watch" value="Watch">Watch</option>
              <option name="Laptop" value="Laptop">Laptop</option>
            </select>
          </div>

          <div class="form-group">                       
            <label for="varient" >Varient</label>
            <select id="varient" name="varient" class="form-control">
              <option value="">Please Select</option>
              {{#each productVarients}} 
                <option name="{{this}}">{{this}}</option>
              {{/each}}
            </select>
          </div>

          <div class="form-group">                       
            <label for="color" >Color</label>
            <select id="color" name="color" class="form-control">
              <option value="">Please Select</option>
              {{#each productColors}} 
                <option name="{{this}}">{{this}}</option>
              {{/each}}
            </select>
          </div>

          <hr>
          <div class="form-group">          
            <label for="websites">Websites</label>
              {{#each websites}}
                <div class="input-group">
                  <span class="input-group-addon">
                    <input type="checkbox" name="websites" value="{{this.websiteName}}"> {{this.websiteName}}
                  </span>
                  <input type="text" class ="form-control" name="{{this.websiteName}}Url"  placeholder="{{this.websiteName}} url">
                </div>                
                <hr>
              {{/each}}              
          </div>          
          <div class="form-group">
            <label for="discription" >Discription</label>
            <textarea name="discription" placeholder="Product Discription Needed" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <label for="slug" >Slug</label>
            <input type="text" class ="form-control" name="slug"  placeholder="Slug should be unique">
          </div>
          <div class="form-group">
            <label for="image of product" >Upload image</label>
            <input type="file" name="image" /><br>
            <input class="btn btn-default" type="submit" name="submit">
          </div>
          <br>
          <br>
      </div>
    </form>
  </div> <!--row-->
</div> <!-- container -->
{{>footer}}