{{>header}}
<div class= "container">
  <div>
      

<table class="table table-inverse col-md-10">
<thead>
<tr>
  {{#each thead}}
    <th>{{this}}</th>
  {{/each}}
</tr>
</thead>
    <tbody>
    {{#each data}}
            <tr id= '{{slug}}'>
              <td>{{this.product_name}}</td>
              <td>{{this.brand}}</td>
              <td>{{this.category}}</td>
              <td>{{this.discription}}</td>
              <td>{{this.slug}}</td>
              <td>
              <a href="/admin/edit/{{this.slug}}"><span class="glyphicon glyphicon-check"></span></a>
              <span class="glyphicon glyphicon-remove-circle"></span>
              </td>
            </tr> 
          {{/each}}
    </tbody>
</table>

  </div>

</div>

{{>footer}}  