{{>header}}
<div class= "container">
	<div>
    	

    <table class="table table-inverse col-md-10">
      <thead>
        <tr>
          {{#each thead}}
          	<th>{{this}}</th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
      {{#if data}}
      	 {{#each data}}
            <tr>
              <td>{{this.product_name}}</td>
              <td>{{this.brand}}</td>
              <td>{{this.category}}</td>
              <td>{{this.discription}}</td>
              <td>{{this.myslug}}</td>
            </tr> 
          {{/each}}
        {{else}}
          {{#each page_data}}
            <tr>
              <td>{{this.page_name}}</td>
              <td>{{this.page_title}}</td>
              <td>{{this.myslug}}</td>
              
            </tr> 
          {{/each}}
        {{/if}}  
      </tbody>
    </table>

  </div>

</div>

{{>footer}}