{{>header}}
<div class= "container">
	<div>
    	<h1>All Webpages</h1>
    <table class="table table-inverse col-md-10">
      <thead>
        <tr>
          {{#each thead}}
          	<th>{{this}}</th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
      	{{#each data}}
            <tr>

            <td>{{this.websiteName}}</td>
            <td>{{this.websiteUrl}}</td>
            <td>{{this.scrappingMethod}}</td>
            <td>
            <a href="/admin/websites/edit/{{this.websiteUrl}}"><span class="glyphicon glyphicon-check"></span></a>
            <a href="/admin/websites/delete/{{this.websiteUrl}}"><span class="glyphicon glyphicon-remove-circle"></span></a>
            </td>

          </tr> 
      {{/each}} 
      </tbody>
    </table>

  </div>

</div>

{{>footer}}