{{>header}}
<div class="container-fluid">
	
	<div class="col-md-4">
		<div>
			<h1>Edit {{pageData.slug}}</h1>
			<hr>
			<form action="/admin/edit/{{pageData.slug}}" method="POST">
				<div class="form-group">
					<label for="page name">Page Name</label>
	         		<input type="text" class = "form-control" name="name" value="{{pageData.name}}" ><br>
        		</div>
        		<div class="form-group">
        			<label for="page title">Page title</label>
					<input type="text" class ="form-control" name="title" value="{{pageData.title}}">
        		</div>
        		<div class="form-group">
        			<label for="Slug">Slug</label>
					<input type="text" class ="form-control" placeholder="Slug" name="slug" value="{{pageData.slug}}">
        		</div>
        		<div>
        			<input class="btn btn-default" type="submit" name="submit">
        		</div>
			</form>
		</div>
	</div> <!-- row -->
	
</div> <!-- container -->
{{>footer}}
