{{>header}}
<div class= "container">
	<div>
    	<h1>All pages</h1>
      <hr>
    <table class="table table-inverse col-md-10">
      <thead>
        <tr>
          {{#each thead}}
          	<th>{{this}}</th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
      	{{#each data}}
            <tr>

            <td>{{this.name}}</td>
            <td>{{this.title}}</td>
            <td>{{this.slug}}</td>
            <td>
            <a href="/admin/edit/{{this.slug}}"><span class="glyphicon glyphicon-check"></span></a>
            <a href="/admin/edit/{{this.slug}}/delete"><span class="glyphicon glyphicon-remove-circle"></span></a>
            </td>

          </tr> 
      {{/each}} 
      </tbody>
    </table>

  </div>

</div>

{{>footer}}